.content {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  height: 4rem;
  padding: 0 0 1rem 0;
  border-bottom: 0.125rem solid #f8f8f8;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 5rem;
}

.image {
  cursor: pointer;
}

.user {
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
  color: var(--first-text-shallow);
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  height: 2.5rem;
  font-size: 0.9rem;
  color: var(--first-text-shallow);
}

.button {
  margin: 0 1.5rem;
  height: 2.5rem;
  width: 4.5rem;
  color: var(--first-text-shallow);
  cursor: pointer;
}

.userInfo {
  margin: 0 5rem;
}

@media (max-width: 750px) {
  .input {
    width: 10rem;
  }
  .image {
    width: 1.3rem;
    height: 0.75rem;
  }
}

@media (min-width: 751px) {
  .input {
    width: 20rem;
  }
  .image {
    min-width: 2.6rem;
    height: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .input {
    min-width: 25rem;
  }
  .image {
    width: 4rem;
    height: 2.25rem;
  }
}
