@import url("https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  color: #333;
  --type-first: Helvetica, Arial, sans-serif;
  --type-second: "Spectral", georgia;
  font-family: var(--type-first);
}

.App {
  display: flex;
  flex-direction: column;
}

.AppBody {
  flex: 1;
}