:root {
  --first-input: #eae8ff;
  --first-button: #eae8ff;
  --first-text: #2d3142;
  --first-text-shallow: #5f6374;
  --copyright: #7d8192;

  --first-input: #eae8ff;
  --first-button: #eae8ff;
  --first-text: #2d3142;

  --shadow-box: #505050;
  --header-border: #adacb5;

  --smartphone-width: 750px;
  --table-width: 751px;
  --monitor-width: 1024px;

  --noidea: #eae8ff;
  --noidea: #d8d5db;
  --description: #adacb5;
  --second: #2d3142;
  --principal: #b0d7ff;
}
