@import "../../Colors.css";

.content {
  border-radius: 1rem;
  background-color: var(--first-input-color);
  border: none;
  outline: none;
  padding: 0 0 0 1rem;
}
.content:hover {
  background-color: var(--first-input-color-hover);
}
.content:disabled {
  background-color: var(--first-input-color-disabled);
}
