@import "../../Colors.css";

.container {
  display: flex;
}
.content {
  border-radius: 1rem;
  background-color: var(--first-input);
  border: none;
  outline: none;
  padding: 0 0 0 1rem;
}
.content:hover {
  background-color: var(--first-input));
}
.content:disabled {
  background-color: var(--first-input));
}
@media (max-width: 750px) {
}

@media (min-width: 751px) and (max-width: 1023px) {
}

@media (min-width: 1024px) {
}
